{% extends 'admin_base.html.twig' %}

{% block title %}
  Modifier un utilisateur
{% endblock %}

{% block admin_content %}
  <div class="container">
    {{ form(form) }}
    <div class="mt-4 d-flex justify-content-between">
      <button type="submit" form="admin_user_edit_form" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
      <a href="{{ path('app_admin_user_index') }}" class="btn btn-secondary">Retour à la liste des utilisateurs</a>
    </div>
  </div>
{% endblock %}
