<div class="d-flex align-items-stretch row" data-controller="markdown">
  <div class="col d-flex">
    <textarea rows="2" class="form-control p-3" aria-label="Type markdown into this box" autocomplete="off" data-markdown-target="input" data-action="input->markdown#render">Writing _JavaScript_ is... a **dream** with Stimulus 🤩</textarea>
  </div>
  <div class="col d-flex">
    <div class="markdown-form-render-container p-3" data-markdown-target="preview">
      <small>&lt;- Write something in the textarea!</small>
    </div>
  </div>
</div>
