{% extends 'admin_base.html.twig' %}

{% block title %}New Newsletter{% endblock %}

{% block admin_content %}

    <div class="my-5">
        <h2>Créer une newsletter</h2>
        {{ include('admin/newsletter/_form.html.twig') }}
    </div>

{% endblock %}
