{% extends 'base.html.twig' %}
{% import "macros/card.html.twig" as card %}

{% block title %}
  Elections
{% endblock %}

{% block body %}
  <div class="container my-5">
    <section class="mb-5">
      <h2>Prochaines élections</h2>

      <div class="row gap-3">
        {% for election in pending_elections %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {{ card.election(election, 1) }}
          </div>
        {% else %}
          <div class="col">
            <div class="alert alert-info">
              Il n'y a pas encore d'élections prévues.
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    
    <section class="mb-5">
      <h2>Élections en cours</h2>

      <div class="row gap-3">
        {% for election in in_progress_elections %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {{ card.election(election, 2) }}
          </div>
        {% else %}
          <div class="col">
            <div class="alert alert-info">
              Il n'y a pas encore d'élections en cours.
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    
    <section class="mb-5">
      <h2>Élections passées</h2>

      <div class="row gap-3">
        {% for election in done_elections %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {{ card.election(election, 3) }}
          </div>
        {% else %}
          <div class="col">
            <div class="alert alert-info">
              Il n'y a pas encore d'élections passées.
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
