<div class="container d-flex justify-content-center align-items-center my-3 py-3 rounded bg-body" data-bs-theme="light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="{{ path('app_admin_index') }}" class="nav-link text-body-secondary"><i class="fa-solid fa-house"></i></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-body-secondary">
        Adhésions
        <i class="fa-solid fa-clipboard ms-2"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_admin_user_index') }}" class="nav-link text-body-secondary">
        Utilisateurs
        <i class="fa-solid fa-user ms-2"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-body-secondary">
        Élections
        <i class="fa-solid fa-check-to-slot ms-2"></i>
      </a>
    </li>
  </ul>
</div>
