{% extends 'admin_base.html.twig' %}

{% block title %}
  Edit Election
{% endblock %}

{% block admin_content %}
  <div class="container-form my-5">
    {% include "admin/election/_form.html.twig" %}
  </div>
{% endblock %}
