{% extends 'admin_base.html.twig' %}

{% block title %}
  Créer une Élection
{% endblock %}

{% block admin_content %}
  <div class="container-form my-5">
    <h2>Nouvelle élection</h2>
    {% include 'admin/election/_form.html.twig' %}
  </div>
{% endblock %}
