{% apply inline_css(source('@styles/mail.css')) %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main class="container">
      {% block mail_content %}

      {% endblock %}
    </main>
  </body>
</html>
{% endapply %}
