{{ form_start(form, { attr: { id: 'login-information-form', class: 'container mt-4' }}) }}
    <div class="row mb-3">
        <div class="col-sm-6">
            {{ form_row(form.company, { 'attr': { 'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            {{ form_row(form.jobTitle, { 'attr': { 'class': 'form-control'} }) }}
        </div>
    </div>
{{ form_end(form) }}