{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {% include "user/_form.html.twig" %}

    <button type="submit" form="login-information-form" class="btn btn-primary">{{ button_label | default('Save') }}</button>
    <a href="{{ path('app_user_index') }}">Liste des users</a>

{% endblock %}
